---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "alfios";
@import "open_sans";
@import "variables";
@import "bootstrap";

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 30px;
}

section {
    padding: 50px 0;
}

#cover {
    background-image: url("/i/cover.png"), linear-gradient(to bottom, #FCF6DF 0%, #FFFFFF 75%);
    background-position: 75% 50%;
    background-size: cover;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

    .title {
        padding: 220px 0;
    }

    h1 {
        font: bold 10rem Alfios;
        margin-bottom: 15px;
    }

    h2 {
        font: normal 3rem Alfios;
        margin-top: 15px;
    }

    a {
        font-size: 3rem;
        padding: 10px 30px;
        margin-top: 100px;
    }

    @media (max-width: $screen-sm-max) {
        .title {
            width: 50%;
        }

        h1 {
            font-size: 7rem;
        }

        h2 {
            font-size: 2rem;
        }

        a {
            font-size: 2rem;
            margin-top: 0px;
        }
    }
}

#marketing {
    background: url(/i/bg/low_contrast_linen.png);
    background-color: $gray-dark;
    color: $gray-lighter;
    text-align: center;

    svg {
        margin: 50px 0;
        -webkit-filter: drop-shadow(5px 5px 5px #000);
                filter: drop-shadow(5px 5px 5px #000);
    }

    p {
        font-size: 1.8rem;
    }
}

#projects {
    background: url(/i/bg/fabric_of_squares_gray.png);
}

#testimonials {
    background: url(/i/bg/low_contrast_linen.png);
    background-color: $gray-dark;
    color: $gray-lighter;
    text-align: center;

    .testimonial {
        font: italic 3.5rem OpenSans;
    }

    h5 {
        color: $gray-light;
        text-align: right;
    }

    img {
        border: 2px $gray-light solid;
    }
}

#contact {
    background: url(/i/bg/groovepaper.png);
}

.site-footer {
    background: black;
    color: $gray-light;
    line-height: 60px;

    a {
        margin-left: 10px;
        opacity: 0.4;
        transition: opacity .175s;
        text-decoration: none;

        &:hover {
            opacity: 0.8;
        }
    }
}

.cv {
    padding: 50px 0;

    h1 {
        font: normal 72px Alfios;
        margin: 38px 0 0;
    }
}
