---
layout: default
---

<section id="cover">
  <div class="container">
    <div class="title">
      <h1>Kuba Kuźma</h1>
      <h2>Ruby on Rails and JavaScript Consultant,<br>Full Stack Developer</h2>

      <a href="#contact" class="btn btn-success btn-lg">Get in touch</a>
    </div>
  </div>
</section>

<section id="marketing">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="shadow">
          <svg viewBox="0 0 80 65" height="125">
            {% include svg/ruby.svg %}
          </svg>
        </div>

        <p>
          Expert <strong>Ruby on Rails</strong> Developer with over a
          decade of proven excellence in crafting and managing robust
          Ruby on Rails applications and APIs, delivering unparalleled
          results.
        </p>
      </div>
      <div class="col-md-4">
        <div class="shadow">
          <svg viewBox="0 0 363 412" height="125">
            {% include svg/html5.svg %}
          </svg>
        </div>

        <p>
          Seamless Client-Side <strong>JavaScript</strong>
          Applications, developing dynamic and interactive client-side
          JavaScript applications, creating engaging user experiences
          that captivate and convert.
        </p>
      </div>
      <div class="col-md-4">
        <div class="shadow">
          <svg viewBox="0 0 128 128" height="125">
            {% include svg/phonegap.svg %}
          </svg>
        </div>

        <p>
          <strong>HTML5</strong> &amp; Hybrid Mobile App Specialist,
          building cutting-edge <strong>HTML5</strong> and hybrid
          mobile applications, driving innovation and accessibility
          across platforms.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="projects">
  <div class="container">
    <h3>Strobe</h3>
    <p>
      <a href="http://techcrunch.com/2011/09/01/strobe-launches-game-changing-html5-app-platform/">
        The Strobe platform was launched in September 2011
      </a>,
      aiming to empower developers in creating HTML5 applications for desktops, smartphones, and tablets.
      The primary objective of the platform was to offer a <strong>comprehensive suite of tools for building, deploying, and hosting web applications</strong>.
      My involvement with the team began in June 2011, where I contributed to integrating the platform with social networks such as Facebook and Twitter.
      I had the privilege of working alongside a <strong>remarkable team</strong> consisting of individuals like
      <a href="https://github.com/wycats">Yehuda Katz</a>,
      <a href="https://github.com/carllerche">Carl Lerche</a>,
      <a href="https://github.com/josevalim">Jos&#233; Valim</a>,
      <a href="https://github.com/wagenet">Peter Wagenet</a>,
      <a href="https://github.com/drogus">Piotr Sarnacki</a>,
      and many other talented individuals.
      In November 2011, the platform was <a href="http://techcrunch.com/2011/11/08/facebook-acquires-html5-app-delivery-network-strobe-sproutcore-lives-on/">acquired by Facebook</a>.
    </p>

    <br>

    <p class="text-center">
      <img alt="Strobe" class="screenshot img-thumbnail" width="600" height="312" src="/i/projects/strobe.png" />
    </p>

    <h3>Triage</h3>
    <p>
      Triage was an application that utilized AI to rapidly screen
      skin disorders using a smartphone. Established in 2015 in
      Toronto, Canada, I became a part of the team in late-2018 with a
      focus on developing their Rails API and React-based
      frontend. The platform harnessed cutting-edge technologies,
      including convolutional neural networks, to deliver an accurate
      method for diagnosing various skin conditions.
    </p>

    <br>

    <p class="text-center">
      <img alt="Triage" class="screenshot img-thumbnail" width="600" height="385" src="/i/projects/triage.png" />
    </p>

    <h3>Freeletics</h3>
    <p>
      <a href="https://www.freeletics.com/">Freeletic</a> is a German startup established in 2012, offering a platform that delivers personalized, high-intensity training plans. In mid-2014, I became a part of the team, contributing to the development and maintenance of their Rails API and Angular frontend. Additionally, I played a key role in breaking down the monolithic Rails backend into separate services catering to different products: <a href="https://www.freeletics.com/en/">Bodyweight</a>, <a href="https://www.freeletics.com/en/running">Running</a>, and <a href="https://www.freeletics.com/en/pages/nutrition/guide">Nutrition Guide</a>. With over <strong>50 million users</strong>, Freeletics offers multiple mobile applications. In 2018, the platform was <a href="https://techcrunch.com/2020/09/23/ai-powered-fitness-app-freeletics-scores-25m-series-b/">acquired by JAZZ Venture Partners</a>.
    </p>

    <br>

    <p class="text-center">
      <img alt="Tiramizoo" class="screenshot img-thumbnail" width="600" height="337" src="/i/projects/freeletics.png" />
    </p>

    <h3>Tiramizoo</h3>
    <p>
      <a href="https://www.tiramizoo.com/">Tiramizoo</a> is a German startup established in 2010, with a primary focus on offering local <strong>same-day delivery services</strong> in Munich. By 2012, the company had expanded its services to cover <strong>major German cities and collaborate with over 1200 courier companies</strong>. I joined the team at the beginning of 2012 to contribute to the development of a new API enabling seamless e-commerce integration and to reconstruct the web application. In September 2012, Tiramizoo <a href="https://www.htgf.de/en/daimler-acquires-interest-in-startup-company-tiramizoo/">was acquired by Daimler</a>.
    </p>

    <br>

    <p class="text-center">
      <img alt="Tiramizoo" class="screenshot img-thumbnail" width="600" height="337" src="/i/projects/tiramizoo.png" />
    </p>

    <h3>World Emissions Scenario Pathways</h3>

    <p>
      <a href="https://www.climatewatchdata.org/pathways/">World Emissions Scenario Pathways</a> is an integral component of the broader <a href="https://www.climatewatchdata.org/">Climate Watch</a> platform, managed by the esteemed <a href="https://www.wri.org/">World Resources Institute</a>. This tool empowers users to explore economic and emissions scenarios, thus identifying opportunities to achieve countries' sustainable development and climate objectives. I became a member of the team in early 2018, contributing to the development of the project's backend for researchers, facilitating the import and management of emissions datasets. The <a href="https://github.com/Vizzuality/emissions-scenario-portal">source code</a> is available under the MIT license.
    </p>

    <br>

    <p class="text-center">
      <img alt="World Emissions Scenario Pathways" class="screenshot img-thumbnail" width="600" height="385" src="/i/projects/pathways.png" />
    </p>

    <h3>Treatwell</h3>

    <p>
      <a href="https://www.treatwellpetcare.ca/">Treatwell Pet Care</a> is a mobile veterinary service located in Ottawa, Canada. The company provides a membership-based preventive pet care service. My role involved overseeing the migration from an old WooCommerce-based solution to a new, extensively customized platform built on <a href="https://spreecommerce.org/">Spree Commerce</a>.
    </p>

    <br>

    <p class="text-center">
      <img alt="Triage" class="screenshot img-thumbnail" width="600" height="385" src="/i/projects/treatwell.png" />
    </p>

    <h3>billOHIP</h3>

    <p>
      <a href="https://billohip.ca/">billOHIP</a> (also known as Mo-Billing) is an application designed to streamline the process of medical bill submissions by doctors in Ontario, Canada. Developed using <strong>Ruby on Rails</strong>, it is optimized for smooth performance on mobile devices and offers dedicated <strong>iOS and Android applications</strong>. In September 2017, <a href="https://github.com/bryanlarsen/mobilling">the source code</a> was released as free software under the AGPL version 3 license.
    </p>

    <br>

    <p class="text-center">
      <img alt="Mo-Billing" class="screenshot img-thumbnail" width="600" height="332" src="/i/projects/mobilling.png" />
    </p>

    <h3>Fakturama</h3>

    <p>
      <a href="https://fakturama.pl/">Fakturama</a> is an invoicing application that stands out for being completely <strong><a href="https://github.com/cowbell/fakturama">open source</a></strong> and written entirely in JavaScript. Developed as an <a href="http://emberjs.com/">Ember</a> application, it leverages <a href="https://firebase.com/">Firebase</a> for data storage and relies on <a href="http://developer.yahoo.com/yql/">YQL</a> to fetch exchange rates from the <a href="http://www.nbp.pl/">National Polish Bank</a>. Remarkably, despite being hosted on <a href="https://pages.github.com/">GitHub Pages</a>, the application <strong>operates without a single line of custom server-side</strong> code.
    </p>

    <br>

    <p class="text-center">
      <img alt="Fakturama" class="screenshot img-thumbnail" width="600" height="307" src="/i/projects/fakturama.png" />
    </p>

    <h3>Bombs!</h3>

    <p>
      <a href="http://kubakuzma.com/bombs">Bombs!</a> is a fully playable, browser-based Dyna Blaster clone created back in 2011 using JavaScript and canvas. It utilizes the YUI 3 library, which is no longer maintained. The <a href="https://github.com/cowbell/fakturama">source code</a> is available on GitHub.
    </p>

    <br>

    <p class="text-center">
      <img alt="Bombs!" class="screenshot img-thumbnail" width="600" height="307" src="/i/projects/bombs.png" />
    </p>

  </div>
</section>

<section id="testimonials">
  <div class="container">
    {% for testimonial in site.data.testimonials %}
    <div class="testimonial">
      <i class="icon-quote-left"></i>
      <br>
      <h4>
        {{testimonial.content}}
      </h4>
      <h5>
        {{testimonial.author}}
        &nbsp;
        <img src="/i/testimonials/{{testimonial.picture}}" alt="{{testimonial.author}}" class="img-circle" width="75">
      </h5>
    </div>
    {% endfor %}
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <p>
          If you would like to contact me, please use the form below or send an email directly to <a href="mailto:kuba@kubakuzma.com">kuba@kubakuzma.com</a>.
        </p>

        <iframe height="400" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%; border:none" src="//qoobaa.wufoo.com/embed//m7x3q1/">
          <a href="//qoobaa.wufoo.com/forms/m7x3q1/">Fill out a form</a>
          or contact me directly at
          <a href="mailto:kuba@kubakuzma.com">kuba@kubakuzma.com</a>.
        </iframe>
      </div>

      <div class="col-md-6">
      </div>
    </div>
  </div>
</section>

<footer class="site-footer">
  <div class="container">
    <div class="pull-left">
      &copy; <script>document.write(new Date().getFullYear())</script> Kuba Kuźma
    </div>
    <div class="pull-right">
      <a href="https://github.com/qoobaa">
        <svg viewBox="0 0 41 41" height="20">
          {% include svg/github.svg %}
        </svg>
      </a>
    </div>
  </div>
</footer>
